.pwabanner-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 1000;
  padding: 24px;
  display: flex;
  flex-direction: column;
  background: skyblue;
  border-radius: 4px;
}

.pwabanner-content {
  font-weight: bold;
  font-size: 1.125rem;
}

.pwabanner-install-button {
  background: white;
  border: rgb(47,128,237) 1px solid;
  padding: 8px;
  color: rgb(47,128,237);
  cursor: pointer;
  font-size: 1rem;
}

.pwabanner-install-button:hover {
  background:rgb(47,128,237);
  color: white;
}
